/*.pdf
*.png
xpsf_pix.npy
ypsf_pix.npy
pxc.npy
pyc.npy
psfbs.npy
/PSF.npz
/psf_fits
/simulation_results
/test_results
/test_results_multiprocessing
/catalogue_stars
/__pycache__/
/catalogues_stars
ID_comparisor.py
data_reader.py
ilyas.py
/argv.py
/master.py
dap_metrics_dummy.py
/NSR_agg_evolution.png
/master_multiprocessing.py
text_comparison_all_metrics.py
important_metrics_comparison.tex
important_metrics_comparison_artistic.tex
comparison_all_metrics.py
pruebisima.py
PSF_Focus_0mu_0.2pxdif.npz
PSF_Focus_0mu_0.1pxdif.npz
PSF_Focus_0mu.hdf5
test.npy
PSF_Focus_0mu_0.2pxdif_N4000K.npz
PSF_Focus_0mu_0.2pxdif_N6500K.npz
LOPN1_DR3_20241011_gr0.npy
SFP_DR3_20230926_gr1.npy
SFP_DR3_20230926_gr2.npy
SFP_DR3_20230926_gr3.npy
SFP_DR3_20230926_gr4.npy
FM_Elfique_01694_IAS_inversion_240927_iter2.npz
FM_Joup_02182_IAS_inversion_240927_iter2.npz
FM_Leopold7_02470_IAS_inversion_240927_iter2.npz
PSF-Elfique-01694.npz
PSF-Joup-02182.npz
PSF-Leopold7-02470.npz
PSF-Noblesse-02760.npz
text_files/COB_metrics_comparison.txt
text_files/important_metrics_comparison.txt
text_files/index_important_values.txt
text_files/reza_IDs.txt
text_files/text_10.txt
text_files/text.txt
fer_IDs.txt
dap_metrics_1000_targets.txt
test_bm.npy
test_em.npy
test_IhrC.npy
test_IhrT.npy
test_param.npz
test_sm.npy

