/*.txt
/PSF.npz
/psf_fits
/simulation_results
/test_results
/test_results_multiprocessing
/catalogue_stars
/__pycache__/
/catalogues_stars
ID_comparisor.py
/argv.py
/master.py
dap_metrics_dummy.py
/NSR_agg_evolution.png
/master_multiprocessing.py
/nominal_mask_plotter.py


